@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: rgb(0, 49, 195);
$secondary-color: black;
$third-color: white;
$fourth-color: #FF6060;
$fifth-color: #f6f6f6;
$font-primary: Montserrat, sans-serif;
@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}
@mixin flex-column{
    display:flex;
    flex-direction: column;
}
@mixin flex-column-center {
    display:flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-start {
    display: flex;
    justify-content: flex-start;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
}
@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin radius-10 {
    border-radius: 10px;
}
@mixin radius-25 {
    border-radius: 25px;
}