@import "../base/variables";

.wrap-main {
    @include flex-column;
    align-items: center;
}

.container-collapse {
    @include flex-column;
    margin: 40px 100px;
    @media (max-width: 900px) {
        margin: 40px 0;
    }

}