.wrap-main {
    @include flex-column-center;
}

.container-collapse {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px 100px;
    @media (max-width: 900px) {
        margin: 40px 0;
    }

}


// Specific font-size for About page
.container-collapse {
    .collapse {
        .collapse-bar {
            &__title {
                font-size: 24px;
                @include mobile {
                    font-size: 13px;
                }
            }
        }
        .collapse-content {
            &__text {
                @include mobile {
                    font-size: 13px;
                }
            }
        }

    }
}