.details {
    width: 100%;
}

.main-info {
    margin: 30px 0;
    @include flex-between;
    gap: 50px;
    &__left {
        @include flex-column;
        gap: 10px;
    }
    &__right {
        @include flex-column;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 35%;
    }
    @include mobile-750 {
        @include flex-column;
        gap: 10px;
        margin: 15px 0;
        &__right {
            align-items: center;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        &__right {
            width: 100%;
        }
    }
}

.main-title {
    &__title {
        font-size: 36px;
        color: $primary-color;
        margin-bottom: 10px;
    }
    &__location {
        font-size: 18px;
    }
    @include mobile-750 {
        &__title {
            font-size: 18px;
        }
        &__location {
            font-size: 14px;
        }
    }
}

.secondary-info {
    @include flex-between;
    margin-bottom: 70px;
    &__collapse {
        width: 48%;
    }
    @include mobile-750 {
        @include flex-center;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 40px;
        &__collapse {
            width: 100%;
        }
    }
}

// Specific font size variation for Collapse adapted to this page
.secondary-info {
    &__collapse {
        .collapse-bar {
            &__title {
                font-size: 16px;
                @include mobile {
                    font-size: 13px;
                }
            }
        }
        .collapse-content {
            &__text {
                font-size: 16px;
                @include mobile {
                    font-size: 13px;
                }
            }
        }
    }
}
