.main-wrap {
    @include flex-column-center;
    margin: 30px 30px 50px 30px;
    text-align: center;
    &__title1 {
        color: $primary-color;
        font-size: 160px;
        font-weight: 700;
    }
    &__title2 {
        color: $primary-color;
    }
    &__link {
        font-size: 18px;
        text-decoration: underline;
    }
    @include mobile {
        &__title1 {
            font-size: 96px;
        }
        &__title2 {
            font-size: 16px;
        }
        &__link {
            font-size: 14px;
        }
    }
}