@import "../base/variables";

.main {
    margin: 0 50px;
    @include mobile {
        margin: 0 20px;
    }
}

.gallery {
    margin:50px 0;
    padding: 50px;
    background-color:#F6F6F6;
    @include radius-25;
    @include flex-center-center;
    gap: 50px;
    flex-wrap: wrap;
    @include mobile {
        background-color: $third-color;
        padding: 0;
        margin: 27px 0;
        gap: 22px;
    }
}