@import "../base/variables";

.card {
    height: 300px;
    width: 300px;
    @include radius-10;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &__image {
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__title {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $third-color;
    }
    @include mobile {
        height: 255px;
        width: 100%;
        max-width: 340px;
        @include mobile {
            width: 100%;
        }
    }
}
