.collapse-bar {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include radius-10;
    padding: 10px 20px;
    cursor: pointer;
    &__title {
        color: $third-color;
    };
    &__arrow {
        transform: rotate(0deg);
        transition: transform 400ms;
        &--open {
            transform: rotate(180deg);
            transition: transform 400ms;
        }
    }
    @include mobile {
        &__arrow {
            width: 16px;
        }
    }
}

.collapse-content {
    background-color: $fourth-color;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms;
}

.is-open{
    background-color: $fourth-color;
    max-height: 100%;
    
};