@import "../base/variables";

@keyframes opacityOpen {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes opacityClose {
    0% {
        opacity: 1;
        height: auto;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

.collapse-bar {
    background-color: $fourth-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include radius-10;
    padding: 10px 20px;
    cursor: pointer;
    &__title {
        color: $third-color;
    };
    &__arrow {
        transform: rotate(0deg);
        transition: transform 400ms;
        &--open {
            transform: rotate(180deg);
            transition: transform 400ms;
        }
    }
    @include mobile {
        &__arrow {
            width: 16px;
        }
    }
}

.collapse-content {
    background-color: $fifth-color;
    padding: 0 20px;
    transform: translateY(-90px);
    transition: transform 400ms, height 400ms;
    animation: opacityClose 400ms forwards;
    overflow: hidden;
    position: relative;
    z-index: -1;
    &--open{
        background-color: $fifth-color;
        padding: 20px;
        transform: translateY(0px);
        transition: transform 400ms;
        animation: opacityOpen 400ms;
        position: relative;
        z-index: -1;
    };
}

// Different font-size according to the page

.classAboutTitle {
    font-size: 24px;
    @include mobile {
        font-size: 13px;
    }
}
.classAboutContent {
    font-size: 18px;
    @include mobile {
        font-size: 13px;
    }
}

.classHomeTitle {
    font-size: 18px;
    @include mobile {
        font-size: 13px;
    }
}
.classHomeContent {
    font-size: 16px;
    @include mobile {
        font-size: 13px
    }
}