@import "../base/variables";

.slideshow {
    width: 100%;
    height: 415px;
    position: relative;
    &__picture {
        position: absolute;
        z-index: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    @include mobile {
        height: 255px;
        &__picture {
            border-radius: 10px;
        }
    }
}

.arrow {
    width: 100%;
    height: 100%;
    @include flex-between;
    align-items:center;
    position: absolute;
    z-index: 1;
    &__back, &__forward {
        cursor: pointer;
    }
    @include mobile {
        &__back, &__forward {
            height: 24px;
        }
    }
}

.picture-count {
    position: absolute;
    bottom: 15px;
    left: 50%;
    z-index: 1;
    &__text {
        color: $third-color;
        font-size: 18px;
        font-weight: 500;
    }
    @include mobile {
        display: none;
    }
}